@charset "UTF-8";

h1 {
  text-align: center;
  margin-bottom: 50px;
  color: #e07c02;
}

a {
  color: #e07c02;
}

body {
  margin-bottom: 50px;
}

/* MENU */

nav {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

h2 {
  text-align: center;
  margin-bottom: 50px;
}

.table {
  width: 60%;
  min-height: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row: 10% repeat(3, 1fr);
  gap: 5px;
  margin-left: auto;
  margin-right: auto;
}

.xcel {
  width: 80%;
  margin-bottom: 50px;
}

.header {
  background-color: rgba(231, 192, 82, 0.527);
  display: flex;
  grid-row: 1/2;
  align-items: center;
  justify-content: center;
}

.header > p {
  text-transform: uppercase;
  font-weight: bold;
}

.content {
  display: flex;
  align-items: center;
  background-color: aliceblue;
  padding: 10px;
}

.download {
  justify-content: center;
}

.text > p {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.link_img {
  width: 100px;
}

.pipeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
}
